/* Unit form style */
.rb_tx_clr{
  color: #00548F;
}
.rb_bg_clr{
  background-color: #00548F;
}
.file {
  visibility: hidden;
  position: absolute;
}

/* Scroll bar desc profile */
.scroll_profile{
  height: 200px; 
  overflow:hidden; 
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c9c9c9; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080; 
  border-radius: 50px;
}

/* Image Thumb Profile */
.img_thumb{
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}
.img_thumb_2{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
.img_card{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.img_gallery{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 3px;
  margin: 2px 2px;
}

@media only screen and (max-width: 480px){
  .img_gallery{
    width: 100%;
}
}

