.goudy{
    font-family: 'Sorts Mill Goudy', serif;
  }
.rb-blue-tx{
  color: #00548F;
  /* color: #E9F1FD; */
  /* color: #E9F1FD; */
  /* color: #F9F6EE; */
}
.y-tx{
  color: #FFB84D;
  /* color: #E9F1FD; */
  /* color: #E9F1FD; */
  /* color: #F9F6EE; */
}

/* Card Style */
.myCard{
    cursor: pointer;
    transition: all 0.3s;
}
.myCard:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  /* .carousel-indicators {
    top: 200px;
    right: 450px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
} */


.flip{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}
.book{
  position: relative;
  width: 350px;
  height: 500px;
  transition: transform 0.5s
}
.paper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
  cursor: zoom-in;
}
.front, .back{
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}
.front{
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid lightgrey;
}
.back{
  z-index: 0;
}
.front-content, .back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-content{
  transform: rotateY(180deg);
}

.btnn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}
.btnn:focus{
  outline: none;
}
.btnn:hover i{
  color: red;
}
.btnn i{
  font-size: 30px;
}

#p1{
  z-index: 3;
}
#p2{
  z-index: 2;
}
#p3{
  z-index: 1;
}

.flipped .front,
.flipped .back{
  transform: rotateY(-180deg);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #FFB84D;
}
.nav-link {
  color: #00548F;
  font-weight: 500;
}

.cardPrice{
  /* border: 1px solid #B8BFC9; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  transition: all 0.3s;
}
.ribbon{
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.ribbon::before,
.ribbon::after{
  position: absolute;
  content: "";
  display: block;
  border: 5px solid #FFB84D;
  border-top-color: transparent;
  border-left-color: transparent;
}
 .ribbon::before{
  top: 0px;
  right: 25px;
}

 .ribbon::after{
  bottom: 25px;
  left: 0px;
}

 .ribbon span{
  position: absolute;
  top: 20px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #FFB84D;
  padding: 10px 0;
  color: #00548F;
  text-align: center;
  font-size: 17px;
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 21%);
}

.cardPaper, .cardRegist{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
}

/* my css */

/* Unit form style */
.rb_tx_clr{
  color: #00548F;
}
.rb_bg_clr{
  background-color: #00548F;
}
.file {
  visibility: hidden;
  position: absolute;
}
.form-control-edit{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-floating>.form-control-edit {
    padding: 1rem 0.75rem;
    padding-top: 2rem;
}
.form-floating>.form-control-edit, .form-control-edit>label.label-form-control-input {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
}
.form-floating>.form-control-edit:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}
.form-floating>.form-control-edit:focus~label.label-form-control, .form-floating>.form-control-edit:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

label.label-form-control-input {
    margin-top: -9px;
    opacity: 0.9;
}
